# NEXT_PUBLIC_API_URL=http://localhost:3002/api
# NEXT_PUBLIC_API_TIMEOUT=30000
# REVALIDATE_SECRET=402c8adka51a011ef63091A3218d4ee45d5756302da3cdc3ac4a59pfdff5a9fb

NODE_ENV =production
NEXT_PUBLIC_API_URL=https://server.lesourcier.space/api
NEXT_PUBLIC_API_TIMEOUT=30000
# =====================================
# Frontend cache revalidation
# =====================================
# Must match backend REVALIDATE_SECRET
REVALIDATE_SECRET=402c8adka51a011ef63091A3218d4ee45d5756302da3cdc3ac4a59pfdff5a9fb
